@font-face {
    font-family: "MaruBuri-Regular";
    src: url("./MaruBuri-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "MaruBuri-Regular";
}

#start_modal {
    display: flex;
    align-items: center;
}

.modal_text {
    position: relative;
    left: 50%;
    font-size: 50px;
    border-right: 2px solid black;
}
