#common {
    font-family: "BMDOHYEON";
    font-size: 22px;
}

@font-face {
    font-family: "BMDOHYEON";
    src: url("../../fonts/BMDOHYEON.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
